<h1>product-list works!</h1>
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laudantium fugit dicta quos modi necessitatibus, laborum, dolorum id quasi magnam amet mollitia recusandae voluptatibus corporis magni reprehenderit, porro quaerat! Natus, magni!
</p>

@if (products.length > 0) {
    <h1>Products ({{products.length}})</h1>
   }
   <ul class="pill-group">
    @for (product of products; track product.id) {
    <li class="pill">{{product.title}}</li>
    } @empty {
    <p>No products found!</p>
    }
   </ul>